:root {
    --bg: #fff;
    --bg-dark: #333;
    --text: #333;
    --text-dark: #fff;
    --btn: #ddd;
    --btn-dark: #222;
    --black: #000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
}

.content {
    max-width: 960px;
    margin: auto;
}

.column {
    width: calc(50% - 20px);
    padding: 10px;
}

.column:first-of-type {
    float: left;
}

.column:last-of-type {
    float: right;
}

.translator textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: 100px;
    margin: 0;
    padding: 10px;
    border: 1px solid var(--black);
}

.translator button {
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    background-color: var(--btn);
    color: var(--text);
    border: 1px solid var(--black);
}

.translator .output {
    border: 1px solid var(--black);
    min-height: 10em;
    padding: 10px;
}

.translator p {
    font-weight: bold;
    display: inline-block; /* Ensure the <p> takes up space even when empty */
    margin: 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }

    .translator textarea {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }
    
    .translator button {
        background-color: var(--btn-dark);
        color: var(--text-dark)
    }
}