:root {
    --bg: #fff;
    --bg-dark: #333;
    --input-bg: #ddd;
    --input-bg-dark: #444;
    --text: #333;
    --text-dark: #fff;
    --btn: #ddd;
    --btn-dark: #222;
    --black: #000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
}

.content {
    max-width: 960px;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.column:first-of-type {
    border-bottom: 5px solid var(--text);
    padding-bottom: 0.83em;
}

.translator textarea, .translator .output {
    padding: 10px;
    min-height: 10em;
    border: 1px solid var(--black);
    border-radius: 1em;
}

.translator textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 0;
    background-color: var(--input-bg);
}

.translator button {
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    background-color: var(--btn);
    color: var(--text);
    border: 1px solid var(--black);
    border-radius: 1em;
}

.translator .output {
    text-align: left;
}

.translator p {
    font-weight: bold;
    display: inline-block; /* Ensure the <p> takes up space even when empty */
    margin: 0;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 140px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
margin-left: -75px;
opacity: 0;
transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

/* larger than 600px */
@media (min-width: 600px) {
    .column {
        width: calc(50% - 20px);
        padding: 10px;
    }
    
    .column:first-of-type {
        float: left;
        border: none;
    }
    
    .column:last-of-type {
        float: right;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }

    .translator textarea {
        background-color: var(--input-bg-dark);
        color: var(--text-dark);
    }
    
    .translator button {
        background-color: var(--btn-dark);
        color: var(--text-dark)
    }

    .column:first-of-type {
        border-bottom: 5px solid var(--text-dark);
    }
}

@media (min-width: 600px) and (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }

    .translator textarea {
        background-color: var(--input-bg-dark);
        color: var(--text-dark);
    }
    
    .translator button {
        background-color: var(--btn-dark);
        color: var(--text-dark)
    }

    .column:first-of-type {
        border-bottom: none;
    }
}